:root {
    --light-blue: #E2F3F4;
    --dark-blue: #6DC7D1;
    --light-pink: #FFDAFC;
    --dark-pink: #F991CC;
    --low: #000000;
    --dreamy: #EAEBED;
}

.skeleton {
    background-color: lightgray !important;
    color: lightgray !important;
    border-radius: 0;
}

nav {
    background-color: var(--dark-blue);
    color: var(--dreamy);
}

#search {
    background-color: var(--dreamy);
    width: 75dvw;
}

.result {
    width: 75dvw;
    height: fit-content;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.imgBoxmale {
    background-color: var(--dark-blue);
    overflow: hidden;
}

.imgBoxfemale {
    background-color: var(--dark-pink);
    overflow: hidden;
}

.result img {
    aspect-ratio: 1/1 !important;
    height: 2rem;
    object-fit: contain;
    position: relative;
    scale: 2;
    top: 1.2rem;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    filter: drop-shadow(2px 2px 4px);
}

.male {
    background-color: var(--light-blue);
}

.female {
    background-color: var(--light-pink);
}

.id {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, .6);
    color: var(--low);
    backdrop-filter: blur(4px);
}
.charBox {
    /* background-color: var(--dreamy); */
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(6px);
    position: fixed;
    min-width: 60dvw;
    width: fit-content;
    height: fit-content;
    z-index: 99;
    top: 144%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    /* animation: show 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; */
}

.left {
    min-width: 50%;
    width: fit-content;
}

.left img {
    filter: drop-shadow(0 4px 4px);
    height: 80%;
    object-fit: cover;
    width: auto;
}

.right {
    min-width: 50%;
    width: fit-content;
}

.rightBox {
    background-color: #fff;
    min-height: 80%;
    height: fit-content;
}

.right .top {
    font-size: 2rem;
}

.right .mid {
    font-size: 1.6rem;
}

.right .mid {
    font-size: 1.2rem;
}

.btnmale {
    border: 2px solid var(--light-blue);
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.closeBtn {
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.shareBtn {
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    color: white;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btnmale:hover {
    background-color: var(--light-blue);
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.shareBtn:hover {
    transform: rotate(-45deg);
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.closeBtn:hover {
    scale: 1.2;
    opacity: .6;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.shareBtnmale {
    background-color: var(--dark-blue);
}

.shareBtnfemale {
    background-color: var(--dark-pink);
}

footer {
    position: fixed;
    bottom: 0;
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(4px);
    border-bottom: 0;
}

footer .active {
    background-color: var(--dark-blue);
    color: var(--dreamy);
}

.result img:hover {
    scale: 2.8;
    transition-delay: .2s;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.result:hover {
    scale: 1.05;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes show {
    to{
        opacity: 1;
        top: 50%;
    }
}
@media (max-width:1080px) {
    .result {
        font-size: 1rem;
        justify-content: space-between;
    }

    .arc {
        display: none;
    }

    .charBox {
        min-width: 80dvw;
        width: fit-content;
    }

    .top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left {
        flex-direction: row;
        display: none;
    }

    .left,
    .right {
        width: 100%;
    }
    .actionBtn span{
        display: none;
    }
    .actionBtn button{
        width: 3rem;
    }
    .left .male {
        width: 100%;
    }

    .left img {
        max-width: 50dvw;
    }

    .quote {
        font-size: .8rem;
    }
}